# --------------------------
#  Flutter/Dart Related
# --------------------------
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# --------------------------
#  IDE Files
# --------------------------
.idea/
*.iml
*.ipr
*.iws

# 
.vscode/

# --------------------------
#  Android Build Files
# --------------------------
/android/.gradle/
/android/.idea/
/android/local.properties
/android/**/build/
/android/**/captures/

# --------------------------
#  iOS and macOS
# --------------------------
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/**/build/
ios/.symlinks/
ios/.generated/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.symlinks/
macos/**/build/

# --------------------------
#  Windows & Linux
# --------------------------
windows/**/build/
windows/.dart_tool/
linux/**/build/
linux/.dart_tool/

# --------------------------
#  Web Build
# --------------------------
web/**/build/

# --------------------------
#  Misc
# --------------------------
*.log
*.lock
*.tmp
*.bak
*.swp
*.DS_Store
app.*.symbols
app.*.map.json
